body {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}
